
<%= form_for @profile do |f| %>

  <div class="form-group">
    <label>First name</label>
    <%= f.text_field :first_name, placeholder: "First name" %>
  </div>

  <div class="form-group">
    <label>Last name</label>
    <%= f.text_field :last_name, placeholder: "Last name" %>
  </div>

  </div>
  <div class="actions">
    <%= f.submit "create profile", class: "btn btn-primary" %>
  </div>
<% end %>
