<% if current_user.admin  %>
  <h1>ADMIN</h1>
  <ul>

    <% @users.each do |user|  %>
      <li><%= user.email %> </li>
      <%= user.admin %>
      <%= link_to "make admin", user.change_role(params[user.id]) %>
    <% end %>
  </ul>
<% else %>
  <h1>No acces</h1>
<% end %>
