<% if current_user.admin  %>

  <div class="users-container">
    <h1>Users</h1>
    <ul class="user-list">

      <% @users.sort.each do |user|  %>
      <% if user.admin %>
        <li ><%= user.email %>
        <select id="<%= user.id%>" class="user" name:"user">


          <option value="true">admin</option>
          <option value="false">student</option>

        </select>

      </li>
        <% end %>


      <% end %>
    </ul>
    <hr>
    <ul class="user-list">

      <% @users.sort.each do |user|  %>
        <% if !user.admin %>
        <li ><%= user.email %>
          <select id="<%= user.id%>" class="user" name:"user">


            <option value="false">student</option>
            <option value="true">admin</option>

          </select>

      </li>


       <% end %>
      <% end %>
    </ul>
  </div>
<% else %>
  <h1>No acces</h1>
<% end %>
