<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<% if current_user.try(:admin?)  %>
  <h1>ADMIN</h1>
  <ul>

    <% @users.each do |user|  %>
      <li><%= user.email %></li>
    <% end %>
  </ul>
<% else %>
  <h1>niet ingelogd</h1>
<% end %>
