<% if current_user.admin  %>
<ul>

  <% @days.sort.each do |day|  %>
    <li >
      <%#= day.datematch %>
      <%= link_to day.datematch, day, class: "btn btn-default" %>
    </li>



  <% end %>
</ul>
<%= link_to "Add new day", new_day_path, class: "btn btn-primary" %>


<h2><%= @day.datematch %></h2>
<%else%>
<h1>no acces</h1>
<%end%>
