// Place all the styles related to the Days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day-list {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  padding-left: 0;
}
.day-list li{


}

.new-match-btn {
  font-size: 40px;
  margin: 0 auto;

  padding: 0 70px;

}

.btn-primary {
  background-color: green;
}

a:hover {
  background-color: green;
}

.new-match-container {
  text-align: center;
  margin: 0 auto;
}
